@model  List<PoralAARB.Models.ServiceTime>
@{
    ViewBag.Title = "CenterList";
}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row col-7">
                <button class="text-black btn-md">
                    <ol class="breadcrumb">
                        <li> @Html.ActionLink("Create New Service Time", "ServiceTime")</li>
                    </ol>
                </button>
            </div>
        </div>
    </section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">                   
                    <div class="card-body">
                        <table id="example1" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Service Time Code:</th>
                                    <th>Serving Time</th>                                    
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ServiceTimeId</td>
                                    <td>@item.ServiceTimeInMinutes</td>
                                    <td>
                                        <a class="btn btn-sm" href="@Url.Action("ServiceTime",new {item.Id, item.ServiceTimeId,item.ServiceTimeInMinutes})"><i class="text-warning">Edit</i></a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Delete",new { id=@item.Id})"><i class="text-danger">Delete</i></a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>        
       $(document).ready(function () {
     $("#example1").DataTable({
    dom: 'Bfrtip',
    "paging": true,
      ng: false,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            })
    </script>
    }

