@model  PoralAARB.Models.Application

@{
    ViewBag.Title = "Application";
}
<br />
<h4 class="text-center text-info">Finalize Application</h4>
<br />

<style>
    .error {
        color: red;
    }
</style>

@using (Html.BeginForm("AddApplication", "Applications", FormMethod.Post))
{
    <section class="content">
        <div class="container-fluid">
            <div class="row m-md-2">
                @Html.HiddenFor(x => x.ApplicationNo)
                <label class="control-label col-sm-2 text-right">
                    Tax Identification No:
                </label>
                <div class="col-md-3">
                    <select class="Customer" style="width:100%" id="Tin" name="Tin"></select>
                </div>
                <label class="control-label col-sm-2 text-right">
                    Branch:
                </label>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.BranchId, ViewBag.ListOfBranch as SelectList, "--Select Branch--", new { @id = "DropDwnBra", @class = "form-control" })
                </div>
            </div>
            <div class="row m-sm-2">
                <label class="control-label col-sm-2 text-right">
                    Department:
                </label>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.DepartmentId, ViewBag.ListOfDepartment as SelectList, "--Select Department--", new { @id = "DropDwnDep", @class = "form-control" })
                </div>
                <label class="control-label col-sm-2 text-right">
                    Status:
                </label>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.StatusId, ViewBag.ListOfStatus as SelectList, "--Select Status--", new { @id = "DropDwnSta", @class = "form-control" })
                </div>
            </div>
            <div class="row m-sm-2">
                <label class="control-label col-sm-2 text-right">
                    Major service:
                </label>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.MainServiceId, ViewBag.ListOfMainService as SelectList, "--Select Major Service--", new { @id = "DropDwnMai", @class = "form-control" })
                </div>
            </div>
            <div class="row col-11">
                <label class="control-label col-md-2 text-right">
                    Description:
                </label>
                <div class="col-sm-9">
                    @Html.ValidationMessageFor(x => x.Description, "", new { @class = "error" })
                    @Html.TextAreaFor(x => x.Description, new { @rows = "10", @class = "form-control", @placeholder = "Enter Description" })
                </div>
            </div>
            <br />
            <div class="row m-sm-2">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-info float-right">Start</button>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-info float-right">Finish</button>
                </div>
            </div>
        </div>
</section>
}
